

.container {
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.header, .footer {   
    display: flex;
    flex-direction: column;
    background-color: #666;
    color: #fff;
    
}

h1, .h2 {
    margin: 0;
}

.box {
    padding: 5px;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #aaa;
}


.nav a:hover {
    color: #fff;
}

.nav a {
    color: #000;
    text-decoration: none;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main .sidebar {
    width: 20%;
    flex-basis: 196px;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: #eee;
}

.sidebar a {
    text-decoration: none;
    color: #000;
}

.footer {
    justify-content: center;
    text-align: center;
}

@media (max-width : 640px) {
    .nav {
        flex-wrap: wrap;
    }

    .main {
        flex-wrap: wrap;
    }
    .main .section {
        order: 1;
    }
    .main .sidebar {
        flex-basis: 349px;
        flex-shrink: 0;
        display: flex;
        flex-direction: row;
    }
    .sidebar p::before {
        content: "\00a0 ";
    }
    .sidebar p::after {
        content: " - ";
    }
}